body {
    background-color: #f8f8f8;
    margin: 0;
}

.home {
    padding-top: 98px;
}

.home a {
    color: #999;
    text-decoration: none;
}

.home .button {
    width: 48px;
    padding: 8px 0;
}

.home .header .avator img {
    width: 30px;
    border-radius: 50%;
}

.home .header .right {
    display: flex;
    justify-content: space-around;
    margin-right: 24px;
}

.home .header .title {
    font-size: 18px;
    margin-left: 24px;
}

.home .header .icon-sousuo {
    font-size: 30px;
}

.home .header .button {
    margin-right: 5px;
}

.home .header div {
    align-self: center
}

.C4F8FF5 {
    background-color: #4F8FF5;
}

.C4D86EE {
    background-color: #4D86EE;
}

.CE16C40 {
    background-color: #E16C40;
}

.C32A6E8 {
    background-color: #32A6E8;
}

.C2DB98B {
    background-color: #2DB98B;
}

.CF8B841 {
    background-color: #F8B841;
}

.C1C81F0 {
    background-color: #1C81F0;
}

.error {
    margin: 36px 0;
    text-align: center;
    color: #999;
    font-size: 10px;
}